<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <title>{{ page_title }} | #vss365 today Admin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {{ GoogleFonts('https://fonts.googleapis.com/css2?family=Bad+Script&family=family=Karla:ital,wght@0,400;0,700;1,400;1,700') }}
</head>

<body>
  {% include 'partials/flash-messages.html' %}
  {% include 'partials/header.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/footer.html' %}

  <script src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>
</body>
</html>
