<nav>
  <a class="{{ nav_cur_page(page_title, 'dashboard') }}" href="{{ url_for('root.dashboard') }}">Dashboard</a>

  {% if current_user_token.has_keys %}
  <a class="{{ nav_cur_page(page_title, 'api') }}" href="{{ url_for('keys.index') }}">API Keys</a>
  {% endif %}

  {#
  {% if current_user_token.has_settings %}
  <a class="{{ nav_cur_page(page_title, 'config') }}" href="{{ url_for('config.index') }}">Config</a>
  {% endif %}
  #}

  {% if current_user_token.has_hosts %}
  <a class="{{ nav_cur_page(page_title, 'host') }}" href="{{ url_for('host.index') }}">Hosts</a>
  {% endif %}

  {% if current_user_token.has_prompts %}
  <a class="{{ nav_cur_page(page_title, 'prompt') }}" href="{{ url_for('prompt.index') }}">Prompts</a>
  {% endif %}

  <a href="{{ url_for('root.logout') }}">Logout</a>
</nav>
